// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles
body {
    background:url("/images/email-pattern.webp")
}

hr {
    display: inline-block;
    width: 100%;
}

.header__site-name {
    margin: auto;
}

.header__site-link {
    font-weight: bold;
}

.about-us {
    text-align: center;
}

.products {
    text-align: center;
}

.products ul > li::before {
    content: ''!important;
}

.products ul > li {
    font-weight: bold;
}

.products ul {
    display: inline-block!important;
}

.rs_button {
    display: inline-block;
    background: #cf6bc7;
    border-radius: 4px;
    font-family: "arial-black";
    font-size: 25px;
    color: #ffffff;
    padding: 8px 12px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.social {
    text-align: right;
	position: relative;
	top: -0.5em;
}
 
.social ul {
	margin: 0;
    
}
 
.social ul li p {
	display: none;
}
 
.social .share-icons li {
	padding: 0 !important;
	padding-bottom: 10px !important;
}
 
.social .share-btn {
	padding: 0.25em;
	width: 3em;
}
 
.social-nav .share-btn h3{
	color: #ffffff;
}

.social .share-text {
    font-size: .6em;
}

ul.share-icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: .5em;
}

ul.share-icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.share-icons li:last-child {
	padding-right: 0;
}

ul.share-icons li > * {
	text-decoration: none;
	border: 0;
}

ul.share-icons li > *:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul.share-icons li > * .label {
	display: none;
}
 
.share-btn {
	display: inline-block;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	outline: none;
	text-align: center;
	text-decoration: none;
}
 
.share-btn:hover {
	color: #ffffff !important;
}

.share-btn:active {
	position: relative;
	top: 2px;
	box-shadow: none;
	color: #e2e2e2;
	outline: none;
}
.share-btn .widget-social__link-icon {
	margin: 0;
}

.share-btn.facebook    { background: #3B5998; }
.share-btn.facebook:hover    { background: #2f4779; }