<section class="social">
    <ul class="share-icons">
        <li>
            <a href="https://www.facebook.com/ITSHalifaxLimited" target="_blank" rel="noopener" aria-label="Follow Us on Facebook" class="share-button facebook">
                {{ partial "svg/brand-facebook.svg" (dict "class" "widget-social__link-icon") }}
                <p>facebook</p>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/ITSHalifaxLimited" target="_blank" rel="noopener" aria-label="Follow Us on Instagram" class="share-button instagram">
                {{ partial "svg/brand-instagram.svg" (dict "class" "widget-social__link-icon") }}
                <p>instagram</p>
            </a>
        </li>
    </ul>
</section>