<form class="contactform" action="https://formspree.io/xpzynyye" method="POST">
    <label>
        Your name:
        <input type="text" name="name">
    </label>

    <label>
        Your email:
        <input type="text" name="_replyto">
    </label>
    <label>
        Your phone #:
        <input type="text" name="phone">
    </label>

    <label>
        Your message:
        <textarea name="message"></textarea>
    </label>


    <button type="submit">Send</button>
</form>
